
/* Sets main body attributes */
.body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
}

.header {
    width: 100%;
    height: 20%;
    background-image: url("../images/pexels-rovenimagescom-949587.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* nav flex */
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

/* styles nav links */
.header h1 nav {
    font-size: 20px;
}    

/* Removes bullets from nav link list */
.header nav ul {
     list-style-type: none;
}

/* Sets position of navigation links */
.header nav ul li {
    display: inline-block;
    margin-right: 50px;
    }

/* Set link text styling nav links  */
nav a {
    text-decoration: underline;
    font-size: 25px;
    color: white;
}

/* Set h2 font size */
h2 {
    font-size: 250%;
}

img {
    max-width: 300px;
    max-height: 300px;
}

/* flex container about me */
.about-me {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px
    position: relative;
    padding: 25px;
}

.about-me p {
    padding: 50px; 
}

.contact-me p {
    padding: 50px; 
}

/* flex container work */
.work {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    position: relative;
    padding: 25px;
}

/* flex container contact me */
.contact-me {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    position: relative;
    padding: 25px;
}

/* Set h3 text position */
.text-position {
    position: absolute;
    bottom: 20px;
    left: 16px;
    font-size: 30px;
    background-color: rgb(0, 162, 255);
    color: aliceblue;
    bord
}

.box {
    border: 3px solid rgb(0, 162, 255);
    max-width: 300px;
    max-height: 300px;
}

.item1 {
    flex: 1;
    padding: 10px;
    position: relative;
}

.item2 {
    flex:1;
    padding: 10px;
    position: relative;
}

.item3 {
    flex: 1;
    padding: 10px;
    position: relative;
}

.item4 {
    flex: 1;
    padding: 10px;
    position: relative;
}

.item5 {
    flex: 1;
    padding: 10px;
    position: relative;
}


@media screen and (max-width: 768px) {
    /* stack contents at smaller screensize */
    header,
    main,
    nav,
    footer {
      flex-direction: column;
    }  
}

