/* Sets variables */
:root {
    --background-color: rgb(0, 162, 255);
    --white: rgb(188, 239, 248);
    --pad: 25px;
    --color: rgb(5, 5, 56);
}
/* Sets main body attributes */
.body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
    background-image: radial-gradient(circle, rgb(50, 53, 190), rgb(32, 99, 138), rgb(238, 244, 248));
    }

/* Sets header attributes */
.header {
    width: 100%;
    height: 20%;
    background-image: url("../images/pexels-rovenimagescom-949587.jpg");
    background-size: cover;
    background-position: center;
    color: var(--white);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* nav flex */
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* styles nav links */
.header h1 nav {
    font-size: 20px;
}    

/* Removes bullets from nav link list */
.header nav ul {
     list-style-type: none;
}

/* Sets position of navigation links */
.header nav ul li {
    display: inline-block;
    margin-right: 50px;
    }

/* Set text styling nav links  */
nav a {
    text-decoration: underline;
    font-size: 25px;
    color: var(--white);
}

/* On hover over nav links background changes */
nav a:hover {
    background-color: var(--background-color);
  }

/* Set h2 font size */
h2 {
    font-size: 200%;
    flex-basis: 25%;
}

/* Controls header img size */
.header img {
    max-width: 300px;
}

/* flex container about me */
.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    position: relative;
    padding: var(--pad);
    color: var(--color);
}

.paragraph {
    margin-left: 10%;
    color: rgb(5, 5, 56);
}

/* flex container work */
.work { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    gap: 50px;
    position: relative;
    padding: var(--pad);
    color: var(--color);
}

/* Controls work h2 position */
.work h2 {
    flex-basis: 25%;
    align-self: flex-start;
    align-items: flex-start;  
}

/* Controls work photo links layout */
.pic-grid {
    display: flex;
    flex-basis: 100%;
    gap: 25px;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Controls work img size */
.work img {
    max-height: 350px;
}

/* flex container contact me */
.contact-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    padding: var(--pad);
    color: var(--color);
}

/* Controls contact-me h2 position */
.contact-me h2 {
    flex-basis: 25%;
    align-items: flex-start;  
}

/* styles contact me */
.contact-me a {
    text-decoration: underline;
    font-size: 25px;
    justify-content: space-evenly;
    color: var(--color);
}

/* On hover over nav links background changes */
.contact-me a:hover {
    display: inline-block;
    background-color: var(--background-color);
    color: var(--white);
    padding: 3px;
  }

/* Set h3 text position */
.text-position {
    position: absolute;
    bottom: 20px;
    left: 16px;
    font-size: 30px;
    border: 3px solid var(--background-color);
    background-color: var(--background-color);
    color: var(--white);
}

/* Adds box around repo links */
.box-item {
    border: 3px solid var(--background-color);
}

/* On hover over repo box background changes */
.box-item:hover {
    border: 10px solid rgb(1, 59, 92);
    background-color: var(--background-color);
    padding: 10px;
  }

/* Positioning and styling item1 */
.item1 {
    flex-basis: 1200px;
    align-self: flex-start;
    align-items: stretch;
    max-width: 800px;
    padding: 10px;
    margin: 0;
    position: relative;
}

/* item1 only display */
.big {
    display: block;
    width: 100%;
}

/* Positioning and styling item2, item3, item4, item5 */
.item2, .item3, .item4, .item5 {
    padding: 10px;
    position: relative;
}

/* adjust display for smaller screensize */
@media screen and (max-width: 768px) {
    .header,
    .header nav,
    main,
    nav,
    .contact-me {
      flex-direction: column;
      font-size: 16px;
      justify-content: center;
      align-items: center;
    }

    img {
        max-width: 250px;
       }
}